<div class="row">
  <div class="login-screen my-auto">
    <div class="dashboard">

      <div class="row mb-4">
        <%= link_to games_path, class: "btn btn-green play-now-btn" do %>
          PLAY NOW
        <% end %>
      </div>

      <div class="row mt-4">
        <%= link_to how_to_index_path, class: "btn how-to-btn" do %>
          HOW TO PLAY
        <% end %>
      </div>
    </div>

  </div>
</div>
