<div class="my-auto mx-auto button-container">
  <%= link_to games_path, class: "btn play-now-btn mb-4 mx-auto" do %>
    PLAY NOW
  <% end %>

  <%= link_to how_to_index_path, class: "btn how-to-btn mt-4 mx-auto" do %>
    HOW TO PLAY
  <% end %>

</div>
<%= link_to "Need Help?", "mailto:support@whiteelephantswap.com", class: 'need_help mx-auto' %>
