<div class="my-auto mx-auto button-container mx-width-300">
  <h3>Our White Elephant Swap has concluded! Prizes will be shipped on the 21st and you will be notified soon if you won. Thanks for playing and happy holidays!</h3>
</div>
