<div class="vh-100">
  <div class="login-screen">
 
      <div class="dashboard-white-elephant-logo-box">
        <div class="dashboard-white-elephant-logo">
          <%= image_tag("White-Elephant-Logo-dashboard.png", :alt => "cooler", :class => "white-elephant-logo") %> 
        </div>
        <p style="font-size:20px; color:white;">Browser is out of date.</p>
        <p style="font-size:15px; color:white;">Please upgrade <%= browser.name %> to the latest version.</p>
      </div>
  
  </div>
</div>
