<div class="row h-100">
  <div class="contact-screen my-auto">
    <div class="card card-block">
      <div class="card-body text-center">
        <div>
          <%=image_tag 'logo.png', class: 'mb-4'%>
        </div>
        <h3>Browser is out of date.</h3>
        <p>Please upgrade <%= browser.name %> to the latest version.</p>
      </div>
    </div>
  </div>
</div>
