<div class="vh-100 background-main">
  <div class="col-md-12">
    <div class="body">
      <div class= "header-text-box">
        <p> <strong>Open</strong> your gift or <strong>steal</strong> </br> another player's on your turn.</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="player-card">
            <div class="p-2">
              <p class="text-center">Player-Name</p>
              <div class= "text-center yeti"></div>
              <div class= "steal-text">Steal</div>
              <div class="text-center mt-4">Gift-Name</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="player-card decision-pending">
            <p class="text-center">Player-Name</p>
            <div class= "text-center"><%= image_tag("yeti.png", :alt => "cooler") %></div>
            <div class= "deciding-text">OPEN NEW GIFT</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>  