<div class="background-main">
  <div class="body text-center">
    <div class="dashboard-text">
      <p> <strong>Keep</strong> your gift or go for the <strong>steal</strong>.</p>
    </div>

    <div class="row no-gutters">
      <div class="col-6 col-lg-4 ml-auto">
        <div class="p-5">
          <div class="player-card background-white text-center how-to-card">
            <p class="player-name">Player-Name</p>
            <div class="cooler"></div>
            <div class="gift-name">Gift-Name</div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-4 mr-auto">
        <div class="p-5">
          <div class="player-card background-green text-center how-to-card">
            <p class="player-name">Player-Name</p>
            <div class="green-gift"></div>
            <div class="button-player-red">
              <p>Open new gift</p>
            </div>
            <div class="gift-name">Gift-Name</div>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard-text mb-4">
      <p> If you're up <strong>first</strong> , don't worry, you'll get the <strong>last steal</strong> of the game.</p>
    </div>

    <div class="row no-gutters">
      <div class="col-6 col-lg-4 ml-auto">
        <div class="p-5">
          <div class="player-card background-white text-center how-to-card">
            <p class="player-name">Player-Name</p>
            <div class="cooler"></div>
            <div class="gift-name">Gift-Name</div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-4 mr-auto">
        <div class="p-5">
          <div class="player-card background-green text-center how-to-card">
            <p class="player-name">Player-Name</p>
            <div class="red-gift"></div>
            <div class="button-player-white">
              <p>STOLEN</p>
            </div>
            <div class="gift-name">Gift-Name</div>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard-text">
      <p>The first player <strong>steals</strong> last. Or, <strong>keeps</strong> their gift.</p>
    </div>

    <div class="row no-gutters">
      <div class="col-6 col-lg-4 ml-auto">
        <div class="p-5">
          <div class="player-card background-white text-center how-to-card">
            <p class="player-name">Player-Name</p>
            <div class="cooler"></div>
            <div class="gift-name">Gift-Name</div>
          </div>
        </div>
      </div>

      <div class="col-6 col-lg-4 mr-auto">
        <div class="p-5">
          <div class="player-card background-green text-center how-to-card">
            <p class="player-name">Player-Name</p>
            <div class="red-gift"></div>
            <div class="button-player-red">
              <p>Open new gift</p>
            </div>
            <div class="gift-name">Gift-Name</div>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard-text">
      <p>Once the game ends, you'll be able to join a raffle to win the real version of your gift.</p>
    </div>

    <div class="dashboard-text">
      <h1>Plus, every play has the chance to win <strong>Scratch tickets!</strong></h1>
    </div>

    <div class="row no-gutters">
      <div class="col-6 col-lg-4 mx-auto">
        <div class="p-5">
          <div class="player-card background-green text-center how-to-card">
            <p class="player-name">Player-Name</p>
            <div class="cooler_ticket"></div>
            <div class="gift-name">Gift-Name</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <%= link_to games_path, class: "btn play-now-btn mb-4 mx-auto" do %>
        PLAY NOW
      <% end %>
    </div>
  </div>
  <div id="gradient"></div>
</div>  