<div class="modal fade" id="myPrizeModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content background-yellow p-4">
      <div class="text-center">
        <%= button_tag class: 'btn close-btn', "data-dismiss" => "modal", "aria-hidden" => "true" do %>
          <i class="fa fa-times-circle-o" aria-hidden="true"></i> Close
        <% end %>

        <div class="modal-body text-center">
          <div class="col-12 col-md-12">
            <div class="p-5">
              <div class="player-card background-green text-center static-card">
                <h1 class="player-name">YOU OPENED...</h1>
                <div class="<%= @game.winner_prize[:prize][:class_name] %> my_prize"></div>
                <div class="gift-name"><%= @game.winner_prize[:prize][:name] %></div>
              </div>
            </div>
          </div>
          <h2 class="mt-4">Try to keep or steal the gift you want by the end of the game!</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    var myModalEl = document.getElementById('myPrizeModal')
    myModalEl.addEventListener('hidden.bs.modal', function (e) {
      var finished_game = $('.finished_game').val() == "true";

      if (finished_game) {
        $.ajax({
          type: 'get',
          url: ('/games/get_next'),
          async: false,
          dataType: 'script',
          success: function(data) {}
        });
      }
    })
  });
</script>
