<div class="background-main">
  <div class="body text-center">
    <div class="row no-gutters">
      <div class="col-12 col-md-4 offset-md-4">
        <div class="p-5">
          <div class="player-card background-white text-center static-card">
            <h1 class="player-name">You're entered to win...</h1>
            <div class="<%= @prize.class_name %> my_prize"></div>
            <div class="gift-name"><%= indefinite_articlerize @prize.name %></div>
          </div>
        </div>
      </div>
    </div>

    <h1 class="text-center">Great, we'll send you a reminder email to play again tomorrow!</h1>

    <div class="row mt-4">
      <%= link_to "https://www.coloradolottery.com/en/", class: "btn play-now-btn mx-auto" do %>
        VISIT OUR WEBSITE
      <% end %>
    </div>
  </div>
</div>