<div class="background-main">
  <div class="body text-center">
    <div class="row no-gutters mb-4 mt-4">
      <div class="col-12 col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">
        <div class="py-5">
          <div class="player-card background-white text-center static-card static-prize">
            <h1 class="player-name">YOU'RE ENTERED TO WIN...</h1>
            <div class="<%= @prize.class_name %> my_prize"></div>
            <h3 class="mt-3 bam-gift"><%= indefinite_articlerize @prize.name %></h3>
          </div>
        </div>
      </div>
    </div>

    <h1 class="text-center mb-4">PLAY AGAIN TOMORROW!</h1>

    <%= link_to "https://www.coloradolottery.com/en/", class: "btn play-now-btn mx-auto" do %>
      VISIT OUR WEBSITE
    <% end %>
  </div>
</div>