<div class="col-12">
  <div class="card">
    <div class="card-header">
      <div class="float-left">
        CL Logo
      </div>
      <div class="float-right">
        Quit
      </div>
    </div>
    <div class="card-block card-container game">

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <p>You're entered to win <b><%= @prize.name %></b></p>
          <small>YOU HAVE <b><%= @user.user_prizes.count %></b> ENTRIES</small>
        </div>
      </div>

    </div>
  </div>
</div>