@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.button-player span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.button-player span:nth-child(2) {
  animation-delay: .2s;
}

.button-player span:nth-child(3) {
  animation-delay: .4s;
}