@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.button-player span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.button-player span:nth-child(2) {
  animation-delay: .2s;
}

.button-player span:nth-child(3) {
  animation-delay: .4s;
}

.animate {
   background-position: -8480px top;
   -webkit-animation: bkg 3s steps(53);
   transition: none;
}

@-webkit-keyframes bkg {
   0% {
      background-position: 0px top;
   }

   100% {
      background-position: -8480px top;
   }
}