@import "bootstrap";
@import "image-classes";
@import "variables";
@import "mobile";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "FS Emeric Book",Verdana,sans-serif;
}

.prize {
  .gift {
    background-image: url('red-gift.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .cooler {
    background-image: url('yeti.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}

.login-screen {
  margin: auto;
  padding: 15px;
  max-width: 420px;
  width: 100%;

  .card {
    height: 100% !important;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.vh-100 {
  height: 100vh !important;
}

.logo-box {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.logo-box-ie {
  top: 20px;
  left: 20px;
}

.logo-ie {
  height: 70px;
}

.dashboard-logo-box {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  height: 7rem;
}

.dashboard-white-elephant-logo {
  height: 50rem;
}

.white-elephant-logo-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
}

.dashboard-white-elephant-logo-box {
  text-align: center;
}

.header {
  height: 25vh;
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 1rem;
}

.header-ie {
  height: 100px;
  position: relative;
  padding: 1rem;
}

.dashboard-header {
  height: 75vh;
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 1rem;
}

.player-card {
  display: inline-block;
  height: 50vh;
  width: 25vw;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 1rem;
  border: .2rem solid $player-card-border;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,4);
}

.decision-pending {
  background-color: $background-color-user-box-active !important;
  border: .2rem solid $dark-green;
}

.decision-waiting {
  background-color: $background-color-user-box;
  border: .2rem solid $dark-green;
}

.header-text-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
}

.red-text-box {
  padding: 1rem 3rem;
  background-color: $red;
  color: $white;
  font-size: 2rem;
  text-transform: uppercase;
}

.deciding-text {
  padding: 1rem 3rem;
  background-color: $red;
  color: $white;
  font-size: 2rem;
}

.background-yellow {
  background-color: $background-color-main;
}

.background-green {
  background-color: $green;
}

.background-red {
  background-image: url(BG-Pattern-Overlay-01.png);
  background-color: $red;
  color: white;
}

.underscore {
  
}

.dashboard-text {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3rem;
  padding: 3rem;
}

//Buttons

.quit-btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: .2rem 1rem;
  display: inline-block;
  position: relative;
  font-size: 2rem;
  background-color: $green;
  color: $white;
}
  
.play-now-btn:link, .play-now-btn:visited {
  background-image: url(Button-Dark.png);
  background-repeat:no-repeat;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3rem 6rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  letter-spacing: .5rem;
  color: $white;
}

.play-now-btn:hover {
  background-image: url(Button-Dark.png);
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0,0,0,2);
}

.play-now-btn:active {
  background-image: url(Button-Dark.png);
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,2);
}

.play-now-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all, .4s;
}

.how-to-btn:link, .how-to-btn:visited {
  background-image: url(Button-Light.png);
  background-repeat:no-repeat;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3rem 6rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  letter-spacing: .5rem;
}

.how-to-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0,0,0,2);
}

.how-to-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,2);
}

.how-to-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all, .4s;
}


.winner-button {
  animation: glowing 2000ms infinite;
  background-color: #2ba805;
  border-color: #2ba805;
}

@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }

  50% {
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }

  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}