@import "bootstrap";
@import "variables";
@import "mobile";
@import "image-classes";
@import "font-awesome";
@import "parsley";
@import "animations";

@font-face {
  font-family: "FSEmeric";
  src: url('FSEmeric.otf');
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "FSEmeric",Verdana,sans-serif;
}

.login-screen {
  margin: auto;
  padding: 15px;
  max-width: 420px;
  width: 100%;

  .card {
    height: 100% !important;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

a {
  color: black;
  cursor: pointer;
}

.vh-100 {
  height: 100vh !important;
}

.logo-box {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.how-to-box {
  float: right;
  margin-right: 2rem;
}

.logo-box-ie {
  top: 20px;
  left: 20px;
}

.logo-ie {
  height: 70px;
}

.dashboard-logo-box {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.logo {
  height: 7rem;
}

.dashboard-white-elephant-logo {
  height: 50rem;
}

.white-elephant-logo-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
}

.dashboard-white-elephant-logo-box {
  text-align: center;
}

.header {
  height: 25vh;
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 1rem;
}

.header-ie {
  height: 100px;
  position: relative;
  padding: 1rem;
}

.dashboard-header {
  height: 75vh;
  background-size: cover;
  background-position: top;
  position: relative;
  padding: 1rem;
}

.player, .bot {
  cursor: pointer;
}

.static-card {
  h1 {
    padding-bottom: 20px;
  }
}

.player-card {
  display: inline-block;
  height: 45vh;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  border: .2rem solid $player-card-border;
  box-shadow: 0 1rem 1rem rgb(72, 72, 72);
  background-clip:padding-box;
}

.player-card.background-white {
  border: 2.12px solid #F8CB6B !important;
}

.player-card.background-green {
  border: 2.12px solid #41836A !important;
}

.no-gutters {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.decision-pending {
  background-color: $background-color-user-box-active !important;
  border: .2rem solid $dark-green;
}

.decision-waiting {
  background-color: $background-color-user-box;
  border: .2rem solid $dark-green;
}

.header-text-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2rem;
}

.deciding-text {
  padding: 1rem 3rem;
  background-color: $red;
  color: $white;
  font-size: 2rem;
}

.background-yellow {
  background-color: $background-color-main;
}

.background-card-yellow {
  background-color: #FAEBBA;
  border: 1px solid #F8CB6B;
}

.d-grid {
  display: grid !important;
}

.background-main {
  background: linear-gradient(180deg, rgba(99, 199, 164, 0) 0%, #63C7A4 100%)
}

.background-green {
  background-color: $green;
  border-color: $green;
  border-style: solid;
}

.background-white {
  background-color: #FFF8E5;
  border-color: #FFF8E5;
}

.background-blue {
  background-color: #AFC2D5;
  border-color: #AFC2D5;
}

.background-red {
  background-image: url("BG-Pattern-Overlay-01.png");
  background-color: $red;
  color: white;
}

.background-pattern {
  background-color: #FAEBBA;
  background-image: url("Button-Background-Pattern-Pract.png");
  background-position: cover;
  border-style: solid;
  border-color: #f8cb6c;
}

.dashboard-text {
  font-size: 3rem;
  padding: 3rem;
}

.player-name, .gift-name {
  font-size: 1.75rem;
  letter-spacing: .2rem;
}

//Buttons

.enter-raffle {
  display: block;
  border-radius: 38px;
  text-transform: uppercase;
  height: 60px;
  text-decoration: none;
  padding: 1rem 4rem 1.8rem 4rem;
  font-size: 20px;
  letter-spacing: 3.2px;
  color: white;
  width: 366px;
  background: url("Button-Dark.png") no-repeat;
  background-size: contain;
  border-color: transparent;
}

.enter-raffle:hover,
.enter-raffle:active {
  display: block;
  border-radius: 38px;
  text-transform: uppercase;
  height: 60px;
  text-decoration: none;
  padding: 1rem 4rem 1.8rem 4rem;
  font-size: 20px;
  letter-spacing: 3.2px;
  width: 366px;
  background: url("Button-Primary-Hover.png") no-repeat;
  background-size: contain;
  border-color: transparent;
}
  
.play-now-btn {
  display: block;
  border-radius: 38px;
  text-transform: uppercase;
  height: 60px;
  text-decoration: none;
  padding: 1.8rem 4rem 1.5rem 4rem;
  font-size: 20px;
  letter-spacing: 3.2px;
  color: white;
  width: 366px;
  background: url("Button-Dark.png") no-repeat;
  background-size: contain;
  border-color: transparent;
}

.play-now-btn:hover,
.play-now-btn:active {
  display: block;
  border-radius: 38px;
  text-transform: uppercase;
  height: 60px;
  text-decoration: none;
  padding: 1.8rem 4rem 1.5rem 4rem;
  font-size: 20px;
  letter-spacing: 3.2px;
  width: 366px;
  background: url("Button-Primary-Hover.png") no-repeat;
  background-size: contain;
  border-color: transparent;
}

.how-to-btn {
  display: block;
  border-radius: 38px;
  text-transform: uppercase;
  height: 60px;
  text-decoration: none;
  padding: 1.8rem 4rem 1.5rem 4rem;
  font-size: 20px;
  letter-spacing: 3.2px;
  width: 366px;
  background: url("Button-Light.png") no-repeat;
  background-size: contain;
  border-color: transparent;
}

.how-to-btn:hover,
.how-to-btn:active {
  display: block;
  border-radius: 38px;
  text-transform: uppercase;
  height: 60px;
  text-decoration: none;
  padding: 1.8rem 4rem 1.5rem 4rem;
  font-size: 20px;
  letter-spacing: 3.2px;
  width: 366px;
  color: white;
  background: url("Button-Secondary-Hover.png") no-repeat;
  background-size: contain;
  border-color: transparent;
}

.how-to-top-btn {
  display: block;
  text-transform: uppercase;
  height: 50px;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 0.9px;
  color: white;
  width: 100px;
  background: url("Button-Small-Green.png") no-repeat;
  background-size: 100% 100%;
  border-color: transparent;
  line-height: 60px;
}

.how-to-top-btn:hover,
.how-to-top-btn:active {
  display: block;
  text-transform: uppercase;
  height: 50px;
  text-decoration: none;
  font-size: 10px;
  letter-spacing: 0.9px;
  width: 100px;
  background: url("Button-Small-Green.png") no-repeat;
  background-size: 100% 100%;
  border-color: transparent;
  line-height: 60px;
}

.home-btn {
  display: block;
  text-transform: uppercase;
  height: 60px;
  text-decoration: none;
  width: 120px;
  background: url("Button-Home.png") no-repeat;
  background-size: contain;
  border-color: transparent;
}
.home-btn:hover,
.home-btn:active {
  display: block;
  text-transform: uppercase;
  height: 60px;
  text-decoration: none;
  width: 120px;
  color: white;
  background: url("Button-Home.png") no-repeat;
  background-size: contain;
  border-color: transparent;
}


.winner-button {
  animation: glowing 2000ms infinite;
  background-color: #2ba805;
  border-color: #2ba805;
}

.close-btn {
  font-size: 2rem;
  font-weight: 500;
}

form {
  padding: 20px;
}

input::after, input::after, input, .form {
  box-sizing: border-box !important;
}

input[type="text"],
input[type="email"] {
  height: 50px;
}

.btn {
  box-sizing: inherit !important;
}