.amazon {
  background-image: url("Amazon.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.blanket {
  background-image: url("Blanket.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.board {
  background-image: url("Board.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.fryer {
  background-image: url("Fryer.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.red-gift {
  background-image: url("Red-Gift.png");
  width: 55%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 55%;
  margin: auto;
}
.gummy {
  background-image: url("Gummy.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.headphones {
  background-image: url("Headphones.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.sweater {
  background-image: url("Sweater.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.waffle {
  background-image: url("Waffle.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.yeti {
  background-image: url("Yeti.png");
  width: 75%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 75%;
  margin: auto;
}

// Button Classes

.Button-Player_Green {
  background-image: url("Button-Player-Green.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.button-player-red {
  background-image: url("Button-Player-Red.png");
  width: 24vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  height: 10vh;
  right: -19px;
  bottom: 50px;
  p {
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate("-50%, -50%");
  }
}

.gift-name {
  position: absolute;
  text-transform: uppercase;
  margin: 0;
  bottom: 15px;
  left: 50%;
  transform: translate("-50%, -50%");
}

.player-name {
  margin-top: 10px;
}

.Button-Bot-Blue {
  background-image: url("Button-Bot-Blue.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.Button-Dark {
  background-image: url("Button-Dark.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.Button-Home {
  background-image: url("Button-Home.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.Button-Light {
  background-image: url("Button-Light.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.Button-Primary-Hover {
  background-image: url("Button-Primary-Hover.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.Button-Secondary-Hover {
  background-image: url("Button-Secondary-Hover.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}


.Button-Green-Small {
  background-image: url("Button-Green-Small.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.Button-Stolen {
  background-image: url("Button-Stolen.png");
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}