.amazon {
  background-image: url(amazon.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.blanket {
  background-image: url(blanket.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.board {
  background-image: url(board.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.fryer {
  background-image: url(fryer.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.red-gift {
  background-image: url(red-gift.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}
.gummy {
  background-image: url(gummy.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.headphones {
  background-image: url(headphones.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.sweater {
  background-image: url(sweater.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.waffle {
  background-image: url(waffle.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.yeti {
  background-image: url(yeti.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}