@media only screen and (min-width: 1300px) {
  .congrats .my_prize {
    height: 90% !important;
  }

  .gift-name {
    height: 60px !important;
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
    bottom: -6% !important;
  }

  .static-gift {
    margin-top: 4rem !important;
  }

  .static-gift,
  .bam-gift {
    margin-top: 1.5rem !important;
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
    height: 40px;
    margin-top: 2.5rem !important;
  }
}

@media only screen and (max-width: 1400px) {
  .button-player-red,
  .button-player-green,
  .button-player-blue,
  .button-player-white {
    right: -16px !important;

    p {
      font-size: 1.2rem !important;
      letter-spacing: 2px !important;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .player-card {
    min-height: 0px !important;
    max-height: 340px !important;
  }

  .player-card.static-prize {
    min-width: 300px;
  }

  .background-main {
    .button-player-red,
    .button-player-green,
    .button-player-blue,
    .button-player-white {
      bottom: 50px !important;
      height: 7vh !important;
    }
  }

  .gift-name {
    height: 50px !important;
    bottom: -13% !important;
  }

  .game {
    .gummy,
    .gift_card,
    .blanket,
    .blow_up,
    .cutting_board,
    .fryer,
    .headphones,
    .sweater,
    .waffle_maker,
    .cooler {
      height: 45% !important;
    }
  }

  .game {
    .button-player-red,
    .button-player-green,
    .button-player-blue,
    .button-player-white {
      bottom: 50px !important;
      height: 8vh !important;
    }
  }

  .game {
    .button-player-white {
      height: 6vh !important;
      bottom: 50px !important;
    }
  }

  .congrats {
    .my_prize {
      height: 70% !important;
      margin-top: 30px !important;
    }
  }

  .player, .bot {
    .gift-name {
      bottom: -7% !important;
      width: 90% !important;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }

  .game-piece .no-banner {
    height: 60% !important;
  }

  .static-gift,
  .bam-gift {
    margin-top: 1.5rem !important;
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
    height: 40px;
    margin-top: 2rem !important;
  }
}

@media only screen and (max-height: 834px) {
  .mb-percent {
    margin-bottom: 3% !important;
  }
  .login-screen img {
    max-width: 65% !important;
    max-width: 65% !important;
  }
}

@media only screen and (max-width: 1240px) {
  .button-player-red,
  .button-player-green,
  .button-player-blue,
  .button-player-white {
    right: -19px !important;
  }
}

@media only screen and (max-width: 800px){
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
  }

  body {
    line-height: 1.2 !important;
  }

  .btn {
    box-sizing: border-box !important;
  }

  .player-card {
    height: 30vh !important;
    min-height: 30vh !important;
    min-width: 0px !important;
  }

  .static-gift {
    margin-top: 1.5rem !important;
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
    height: 40px;
  }

  .button-player-red {
    background-image: url("Button-Player-Red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    height: 7vh !important;
    bottom: 55px !important;

    p {
      color: white;
      text-transform: uppercase;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1rem !important;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .button-player-blue {
    background-image: url("Button-Bot-Blue.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    height: 7vh !important;
    bottom: 55px !important;

    p {
      color: white;
      text-transform: uppercase;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1rem !important;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .button-player-white {
    background-image: url("Button-Stolen.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    height: 5vh !important;
    bottom: 55px !important;

    p {
      text-transform: uppercase;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1rem !important;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .button-player-green {
    background-image: url("Button-Player-Green.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    height: 7vh !important;
    bottom: 55px !important;

    p {
      color: white;
      text-transform: uppercase;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1rem !important;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .white-elephant-logo-box {
    top: 60% !important;
    .white-elephant-logo {
      width: 100%;
      min-width: 250px;
    }
  }
  
  .red-gift, .green-gift, .yellow-gift {
    margin: -7% 20% !important;
  }

  .background-pattern {
    .red-gift,
    .green-gift,
    .yellow-gift {
      margin: -7% 20% !important;
    }
  }

  .gift-name {
    font-size: 0.6rem !important;
    bottom: 5px !important;
    padding: 0px !important;
    line-height: 15px !important;
    overflow: visible !important;
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
  }

  .gift-name-big {
    font-size: 1rem !important;
    margin-top: 45px !important;
  }

  .gift {
    margin: -20% 20% !important;
  }

  .button-player-red,
  .button-player-green,
  .button-player-blue,
  .button-player-white {
    right: -10px !important;
  }

  .background-main {
    .button-player-red,
    .button-player-green,
    .button-player-blue,
    .button-player-white {
      bottom: 35px !important;
    }

    .gift-name {
      bottom: -8% !important;
    }
  }

  .my_prize {
    height: 70% !important;
    width: 70% !important;
    margin: 0% 15% !important;
  }

  .static-card {

    .my_prize {
      margin-top: 15% !important;
    }
    .my_prize.my_prize_animate {
      margin-top: 20% !important;
      margin-left: 20% !important;
    }
  }

  .col-6, .col-12 {
    .p-5 {
      padding: 1rem !important;
    }
  }

  .play-now-btn,
  .how-to-btn,
  .enter-raffle,
  .final {
    background-size: contain !important;
    height: 100px !important;
    line-height: 15px !important;
    margin-top: 50px;
    width: 100% !important;
    max-width: 366px !important;
    line-height: 10px !important;
    border-radius: 3px !important;
  }

  .enter-raffle {
    padding: 0rem 4rem 2.8rem 4rem !important;
    width: 100% !important;
    border-radius: 3px !important;
    max-width: 400px;
  }

  .button-container {
    width: 90%;
    position: relative;
    .play-now-btn,
    .how-to-btn {
      width: 100% !important;
      line-height: 10px !important;
      border-radius: 3px !important;
    }
  }

  .home-top-btn {
    line-height: 40px !important;
  }

  .logo {
    height: 5rem !important;
  }

  .header {
    padding: 20px;
    .logo-box {
      top: 1rem !important;
      left: 1rem !important;
    }
    .how-to-box {
      margin-right: 0px !important;
    }
  }

  .header-ie {
    height: 100px !important;
  }

  .player-name {
    font-size: 1rem !important;
    letter-spacing: 0.5px !important;
  }

  .dashboard-white-elephant-logo {
    height: 25rem !important;
  }

  .how-to-top-btn {
    width: 150px !important;
    line-height: 40px !important;
  }

  .container.vh-100 {
    margin-top: 50px;
  }
  .animate {
    transform: scale(1.3) !important;
  }

  .col-12 .player-card {
    height: 40vh !important;
  }

  .prize-pattern {
    img {
      width: 80%;
    }
  }

  .button-player-green p:empty ~ .gift {
      width: 500px !important;
  } 

  .bot,
  .player {

    .gummy,
    .gift_card,
    .blanket,
    .blow_up,
    .cutting_board,
    .fryer,
    .headphones,
    .sweater,
    .waffle_maker,
    .cooler {
      height: 40% !important;
      margin: -10% 20% !important;
    }
  }

  .player-card .no-banner {
    margin: 20% 5% !important;
  }

  .my_prize {
    height: 70% !important;
    width: 70% !important;
  }

  .my_prize_animate {
    height: 45% !important;
    margin: 10% 18% !important;
    width: 50% !important;
  }

  .static-prize {
    .static-gift {
      margin-top: 2rem !important;
    }

    div.my_prize {
      height: 60% !important;
      margin: -10px auto !important;
    }
  }

  .game {

    .button-player-red,
    .button-player-green,
    .button-player-blue,
    .button-player-white {
      bottom: 70px !important;
      height: 6vh !important;
    }

    .gift-name {
      bottom: -3% !important;
    }
  }

  .background-main {
    .button-player-red,
    .button-player-green,
    .button-player-blue,
    .button-player-white {
      height: 6vh !important;
    }
  }
}

@media only screen and (max-width: 480px) {
  .white-elephant-logo-box {
    top: 70% !important;
  }

  .my_prize_animate {
    height: 55% !important;
  }

  .static-card .my_prize.my_prize_animate {
    margin-top: 10% !important;
    margin-left: 25% !important;
  }

  .game .gift {
    margin: -10% 20% !important;
  }

  .bot .gummy,
  .bot .gift_card,
  .bot .blanket,
  .bot .blow_up,
  .bot .cutting_board,
  .bot .fryer,
  .bot .headphones,
  .bot .sweater,
  .bot .waffle_maker,
  .bot .cooler,
  .player .gummy,
  .player .gift_card,
  .player .blanket,
  .player .blow_up,
  .player .cutting_board,
  .player .fryer,
  .player .headphones,
  .player .sweater,
  .player .waffle_maker,
  .player .cooler {
    margin: -5% 20% !important;
  }

  .game .button-player-red,
  .game .button-player-green,
  .game .button-player-blue,
  .game .button-player-white {
    bottom: 50px !important;
  }

  .player-card .no-banner {
    margin: 20% 5% !important;
  }

  .player-card .gift-name {
    bottom: -5% !important;
  }

  .static-card .my_prize {
    margin-top: 10% !important;
  }

  .static-prize {
    max-width: 90%;

    .static-gift, .bam-gift {
      margin-top: 1.5rem !important;
      display: flex !important;
      justify-content: center;
      align-items: flex-end;
      height: 40px;
      margin-top: 3rem !important;
    }

    .static-gift {
      margin-top: 1rem !important;
    }
  }
}

@media only screen and (max-width: 400px) {
  .static-card .my_prize.my_prize_animate {
    margin-top: 20% !important;
    margin-left: 20% !important;
  }

  .my_prize_animate {
    height: 45% !important;
  }
}

@media only screen and (max-width: 765px) and (min-width: 600px) {

  .game .button-player-red,
  .background-main .button-player-red,
  .game .button-player-green,
  .background-main .button-player-green,
  .game .button-player-blue,
  .background-main .button-plater-blue,
  .game .button-player-white,
  .background-main .button-player-white {
    bottom: 40px !important;
    width: 107% !important;
  }

  .game {
    .bot .gummy,
    .bot .gift_card,
    .bot .blanket,
    .bot .blow_up,
    .bot .cutting_board,
    .bot .fryer,
    .bot .headphones,
    .bot .sweater,
    .bot .waffle_maker,
    .bot .cooler,
    .player .gummy,
    .player .gift_card,
    .player .blanket,
    .player .blow_up,
    .player .cutting_board,
    .player .fryer,
    .player .headphones,
    .player .sweater,
    .player .waffle_maker,
    .player .cooler {
      margin: 0% 20% !important;
    }

    .gift-name {
      bottom: -8% !important;
    }
  }

  .red-gift,
  .green-gift,
  .yellow-gift {
    margin: -5% 20% !important;
  }

  .player-card .gift.no-banner, .bot .gift.no-banner, .player .gift.no-banner {
    margin: auto !important;
    height: 60% !important;
  }

  .static-card .my_prize.my_prize_animate {
    width: 40% !important;
    height: 50% !important;
    margin-left: 0 !important;
    margin-top: 10% !important;
    margin: 10% auto !important;
  }

  .static-card .my_prize {
    margin-top: 5% !important;
  }

  .static-card .gift-name {
    bottom: -25px !important;
  }

  .player-card {
    max-width: 400px !important;
  }

  .static-prize .static-gift {
    margin-top: 1rem !important;
  }
}