@media only screen and (max-width: 1240px) {
  .button-player-red,
  .button-player-green,
  .button-player-blue,
  .button-player-white {
    right: -19px !important;
  }
}

@media only screen and (max-width: 800px){

  .player-card {
    height: 30vh !important;
  }

  .button-player-red {
    background-image: url("Button-Player-Red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    height: 7vh !important;
    bottom: 50px !important;

    p {
      color: white;
      text-transform: uppercase;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1.5rem;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .button-player-blue {
    background-image: url("Button-Bot-Blue.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    height: 7vh !important;
    bottom: 50px !important;

    p {
      color: white;
      text-transform: uppercase;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1.5rem;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .button-player-white {
    background-image: url("Button-Stolen.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    height: 5vh !important;
    bottom: 50px !important;

    p {
      text-transform: uppercase;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1.5rem;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .button-player-green {
    background-image: url("Button-Player-Green.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    height: 7vh !important;
    bottom: 50px !important;

    p {
      color: white;
      text-transform: uppercase;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1.5rem;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  .white-elephant-logo-box {
    top: 60% !important;
    .white-elephant-logo {
      width: 75vw;
    }
  }

  .red-gift {
    background-position: 0px top;
    -webkit-animation: none;
    transform: scale(1) !important;
    margin: -1% 9% !important;
  }

  .green-gift {
    background-position: 0px top;
    -webkit-animation: none;
    transform: scale(1) !important;
    margin: -1% 9% !important;
  }

  .yellow-gift {
    background-position: 0px top;
    -webkit-animation: none;
    transform: scale(1) !important;
    margin: -1% 9% !important;
  }

  .cooler,
  .waffle_maker,
  .sweater,
  .headphoens,
  .gummy,
  .fryer,
  .cutting_board,
  .blow_up,
  .blanket,
  .gift_card {
    margin: -10% 18% !important;
  }

  .gift-name {
    font-size: 1rem !important;
  }

  .button-player-red,
  .button-player-green,
  .button-player-blue,
  .button-player-white {
    right: -14px !important;
  }

  .my_prize {
    height: 70% !important;
    width: 70% !important;
    margin: -4% 14% !important;
  }
}