
$background-color-main: #f4e1a6;
$background-color-user-box: #fff8e5;
$background-color-user-box-active: #63c6a4;
$player-card-border: #fce2ac;


$dark-green: #173e2f;
$green: #338568;
$red: #e53530;
$white: #fff;
$gray: #ccc;
$black: #000;
